* {
  font-size: 100%;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 14px;
  color: #191919;
  background-color: #FFFFFF;
}

.header > span {
  font-size: 22px;
  font-weight: bold;
  line-height: 50px;
  margin-left: 30px;
}

/* ここからハンバーガーメニュー */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: orange;
  z-index: 100;
}
.global-nav {
  position: fixed;
  right: -320px; /* これで隠れる */
  top: 0;
  width: 300px; /* スマホに収まるくらい */
  height: 100vh;
  padding-top: 40px;
  background-color: #fff;
  transition: all .6s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}
.hamburger {
  position: absolute;
  right: 0;
  top: 0px;
  width: 40px; /* クリックしやすいようにちゃんと幅を指定する */
  height: 50px; /* クリックしやすいようにちゃんと高さを指定する */
  cursor: pointer;
  z-index: 300;
}
.global-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #000;
}

.global-nav__list > a {
  font-size: 18px;
  text-decoration: none;
  color: #111;
  text-align: center;
  width: 300px;
  line-height: 150px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.global-nav__item {
  width: 150px;
  padding: 50px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.global-nav__item:hover {
  background-color: #eee;
}

.hamburger__line {
  position: absolute;
  width: 18px;
  height: 1px;
  background-color: #111;
  transition: all .6s;
}
.hamburger__line--1 {
  top: 19px;
}
.hamburger__line--2 {
  top: 25px;
}
.hamburger__line--3 {
  top: 31px;
}
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 340px;
  height: 100vh;
  z-index: 100;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  cursor: pointer;
}
/* 表示された時用のCSS */
.nav-open .global-nav {
  right: 0;
}
.nav-open .black-bg {
  opacity: .8;
  visibility: visible;
}
.nav-open .hamburger__line--1 {
  transform: rotate(45deg);
  top: 20px;
}
.nav-open .hamburger__line--2 {
  width: 0;
  left: 50%;
}
.nav-open .hamburger__line--3 {
  transform: rotate(-45deg);
  top: 20px;
}
/* ここまでがハンバーガーメニュー */


.main {
  width: 100%;
  height: calc(100vh - 50px);
}

#moveable {
  width: 100%;
  height: 70%;
  text-align: center;
  position: relative;
}

.room {
  width: auto;
  height: 330px;
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.furniture {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: calc(50% - 30px);
}

.chair {
  width: 30px;
  height: 30px;
}

.swiper-container {
  /* １つの要素を80pxとする、 */
  width: calc(60px * 3 + 10px * 2);
  height: 60px;
  margin: 10px 0;
}

.swiper-pagination {
  width: 100%;
}

.swiper-pagination > span {
  margin: 1px;
}

.swiper-pagination-bullet-active {
  background: orange !important;
}

#prev {
  left: 15px;
  color: orange;
}

#prev:focus {
  outline:0;
}

#next {
  right: 15px;
  color: orange;
}

#next:focus {
  outline:0;
}

@media screen and (min-width: 480px) {
    .main {
      height: calc(100vh - 50px);
      min-height: 600px;
    }

    #moveable {
      width: 100vw;
      height: calc(80vh - 20px);
      text-align: center;
    }

    #moveable > img {
      width: 700px;
      margin-top: 50px;
    }

    .swiper-container {
        width: 580px;
        height: 100px;
        margin: 10px 0;
    }

    .swiper-wrapper > img:hover {
      cursor: pointer;
    }

    #prev {
      left: calc((100vw - 680px) / 2);
      color: orange;
    }

    #prev:focus {
      outline:0;
    }

    #next {
      right: calc((100vw - 680px) / 2);
      color: orange;
    }

    #next:focus {
      outline:0;
    }
}
